@import url('https://fonts.cdnfonts.com/css/azonix');

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
}

:root {
	--font-body: 'Azonix';
}

.hidden {
	display: none;
}

.color {
	background-color: #00ff55;
	transition: background 0.5s ease-out;
}

body {
	background-image: url('img/fundo\ para\ jogo.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#header {
	width: 490px;
	margin: 42px auto;
}

#header img {
	width: 30px;
	padding-top: 5px;
}

#header h1 {
	color: #E25C5C;
	font-family: 'Azonix';
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 2px;
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
}

#search {
	height: 50px;
	text-align: center;
	margin-bottom: 50px;
}

#search input {
	width: 389px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #417505;
	color: #E25C5C;
	font-size: 22px;
	font-family: 'Roboto';
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#search button {
	background: linear-gradient(180deg, #D1FE41 -50%, #417505 100%);
	border-radius: 5px;
	width: 88px;
	height: 50px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-family: 'RobotoSlab';
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 10px;
}

#table {
	width: 493px;
	height: 493px;
	margin: auto;
	border: 1.5px solid #000000;
	border-radius: 10px;
	border-spacing: 0;
	font-family: var(--font-body);
}

#table td {
	border: 1.5px solid #000000;
	width: 46px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	line-height: 36px;
	font-size: 36px;
	letter-spacing: 2.9px;
	background-color: #D1FE41;
}

#table .color {
	background-color: #00ff55;
	transition: background 0.5s ease-out;
}

#table tr:nth-child(10) td {
	border-bottom: none;
}

#table td:last-child {
	border-right: none
}

@media only screen and (min-width: 360px){
	


	#header h1 {
		font-size: 50px;
		padding-top: 20px;
		transform: translateX(3%);
		margin: 0;
	}

	#search {
		margin: 0;
		transform: translateY(80%);
	}

	#search input {
		width: 450px;
		height: 50px;
	}

	#search button {
		width: 85px;
		height: 50px;
		margin-left: 5px;
	}

	#table {
		width: 830px;
		height: 830px;
		transform: translateY(15%);
	}

	#table td {
		width: 33px;
		font-size: 36px;
		font-family: 'Roboto';
	}
	#table .color {
		background-color: #00ff55;
		transition: background 0.5s ease-out;
	}
}
