
  @import url('https://fonts.cdnfonts.com/css/azonix');
  * {
  margin: 0;
  padding: 0;
  font-family: "Azonix";
  }

  

  body {
  background-image: url("../img/fundo\ para\ jogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  }

  #header {
  width: 500px;
  margin: 42px auto;
  }

  #header h1 {
  color: #e25c5c;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 2px;
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
  }

  #search {
  height: 65px;
  text-align: center;
  margin-bottom: 50px;
  border: none;
  }

  #search input {
  width: 600px;
  height: 70px;
  color: #e25c5c;
  font-size: 27px;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
    caret-color: black ;
}
  #search input:focus{
  border-radius: 15px;
  transition: all .2s linear;
  border: solid 2px #417505;
  }
 
  #search button {
  background: linear-gradient(180deg, #d1fe41 -50%, #417505 100%);
  border-radius: 5px;
  width: 86px;
  height: 70px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif ;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;

}

  #table {
  width: 710px;
  height: 650px;
  margin: auto;
  border: 1px solid #000000;
  border-radius: 10px;
  border-spacing: 0;
  font-family: sans-serif ;
  }

  #table td {
  border: 1.5px solid #000000;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto" ;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-size: 39px;
  letter-spacing: 2.9px;
  background-color: #d1fe41;
  

  }

  #table .color {
  background-color: #00ff55;
  transition: background 1s ease-out;
  }

  #table tr:nth-child(10) td {
  border-bottom: none;
  }

  #table td:last-child {
  border-right: none;
  }

  #popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: none;

  }
  #popup.active {
  display: flex;
  }

  .popup-box {
  background-color: #fff;
  padding: 32px;
  }
  .popup-box p {
  margin-bottom: 16px;
  }

  .popup-box button {
  width: 100%;
  height: 42px;
  background-color: #00ff55;
  }

  .popup-box h1 {
  margin-bottom: 16px;
  }

  #table .color {
    background-color: #00ff55;
    transition: background 1s ease-out;
  }
  
  #table .color.highlight {
    background-color: #f6ff00;
  }
  


  @media (min-width: 766px) {
    
    #header {
      width: 100%;
      margin: 30px 0;
      text-align: center;
    
      }
      #header h1{
      font-size: 36px;
      }
    
      #search input {
      width: 63%;
      border-style: none;
      }
      
      #search button {
      width: 15%;
      border-radius: 20 0px;
      }
    
      #table {
      width: 80%;
      height: 550px;
      }
      #table .color {
      background-color: #00ff55;
      transition: background 1s ease-out;
      }
      #table td {
      border: 1.5px solid #000000;
      width: 44px;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      line-height: 36px;
      font-size: 32px;
      letter-spacing: 2.9px;
      background-color: #d1fe41;
      }
      }
  


  @media (max-width: 762px) and (min-width: 543px) {

  

  #header {
  width: 100%;
  margin: 30px 0;
  text-align: center;

  }
  #header h1{
  font-size: 36px;
  }

  #search input {
  width: 67%;
  border-style: none;
  }
  
  #search button {
  width: 15%;
  border-radius: 20 0px;
  }

  #table {
  width: 85%;
  height: 450px;
  max-width: none;
  }
  #table .color {
  background-color: #00ff55;
  transition: background 1s ease-out;
  }
  #table td {
  border: 1.5px solid #000000;
  width: 44px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-size: 32px;
  letter-spacing: 2.9px;
  background-color: #d1fe41;
  }
  }
  @media (min-width: 320px) and (max-width: 542px) {
  #header {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  }
  #search input:focus{
  border: 2px solid #d1fe41;

  }

  #header h1{
  font-size: 34px;
  }

  #search input {
  width: 70%;
  height: 50px;
  border: none;
  }

  #search button {
  width: 20%;
  height: 50px;
  }

  #table {
  width: 90%;
  height: 300px;
  max-width: none;
  }

  #table .color {
  background-color: #00ff55;
  }

  #table td {
  border: 1.5px solid #000000;
  width: 46px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
  font-size: 25px;
  letter-spacing: 2.9px;
  background-color: #d1fe41;  
  }
  }